
body {
    font-family: Arial, sans-serif;
    color: rgb(39, 38, 38);
}

h4{
    font-family:Arial, sans-serif;   
    margin-left: 0.5rem;   
    margin-bottom: 15px;
    margin-top: 2rem;
    font-size: smaller;
}


.barra{
    width:1;
    height: 0.1rem;
    margin-left: 0.5rem;
    background-color: rgb(39, 38, 38);
}

.box1{
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(226, 245, 239);
    border: 0.1rem solid rgb(39, 38, 38); 
    border-radius:5px;
    width: 1;
    height: fit-content;
    box-shadow: 1px 1px 5px 0.5px rgb(79, 78, 78);
}

.box2{
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(247, 213, 147);
    border: 0.2rem solid rgb(39, 38, 38); 
    border-radius:5px;
    width: 1;
    height: fit-content;
    box-shadow: 1px 1px 5px 0.5px rgb(79, 78, 78);
}